* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    height: 100px;
    background-color: transparent;
}

main {
    display: flex;
    flex-direction: column;
    height: 300px;
}


.inicial {
    margin-top: 100px;
    background: white;
    color: blue;
    font-size: 4rem;
    padding: 20px;
    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: transparent;
    
}
.tela-inicial input {
    padding: 10px;
    font-size: 16px;
    margin-right: 10px;
  }
  
  .tela-inicial button {
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
  }

.page2 {
    margin-top: 100px;
    background: white;
    color: blue;
    padding: 20px;
    text-align: center;
    background-color: transparent;
}

.galeria {
    background-color: transparent;
    padding: 40px;
    color: blue;
    font-size: 3rem;
    height: auto;
    width: 100%;
    gap: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    width: 300px;
    height: 40px;
    font-size: 16px;
    padding: 5px 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
    outline: none;
}

button {
    width: 150px;
    height: 40px;
    font-size: 16px;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
img{
    border-radius: 10px;
    height: 200px;
}
.fotos{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    width: 70%;
    height: auto;
    justify-content: center;
}
.galerias{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}
.botoes{
    width: 500px;
    gap: 50px;
    justify-content: space-around;
    display: flex;
}