* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    margin-top: 100px;
    background: white;
    color: blue;
    padding: 20px;
    text-align: center;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}
input {
    width: 300px;
    height: 40px;
    font-size: 16px;
    padding: 5px 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
    outline: none;
}
button {
    width: 150px;
    height: 40px;
    font-size: 16px;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
